[Desktop Entry]
Name=Ferx Engine
Exec=ferx
Version=1.0
Type=Application
Categories=Development;
Terminal=false
Icon=ferx
Comment=Basic C++ game engine for learning
StartupWMClass=ferx
StartupNotify=true
